{% extends 'layout.html' %}

{% block body %}
  <div class = "jumbotron text-center">
    <h1>FraggleRockHit</h1>
    <p class="lead">Machine Learning Applied to Fragment Based Virtual Screening <br>Developed by Megan Bultema (Carter)
  </div>
  <p>FraggleRockHit is a virtual screening approach for drug development. Machine learning algorithms  trained using fragment libaries are used to predict hit propensity of traditional high-throughput screening libaries. The application of a FraggleRock model, unique to your target, can help you reduce the size of your potentail screening library-- saving time and resources in your drug discovery process.
{% endblock %}
